base.css 

html {
  font-family: Tahoma, sans-serif;
  font-size: 100%;
  font-weight: normal;
  text-align: left;
  line-height: 1.5;
}

body {
  color: deeppink;
  background-color: lightblue;
}

h1 {
  font-size: 2em;
  color: purple;
}

h2 {
  font-size: 1.6em;
  color: teal;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
