body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}


header {
    margin-top: 20px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    color: #555;
}

/* links */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin: 10px;
}

ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 1.2em;
}

ul li a:hover {
    color: darkblue;
}

/* Box um die Links */
.box {
    border: 2px solid #000;
    display: inline-block;
    padding: 15px;
    background-color: #fff;
    margin-top: 20px;
}


p {
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.gallery img {
    width: 30%; /*  3 Bilder pro Reihe  */
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery video {
    width: 30%; /* 3 Videos pro Reihe */
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}



/* Footer */
footer {
    margin-top: 50px;
    font-size: 0.9em;
    color: white;
}
